################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestPhone/TestPhone/bin
/TestPhone/TestPhone/obj/Debug
/TestPhone/packages
